          <ul class="nav navbar-nav">
            <li>
              <a href="/archives.html">
                Archives
              </a>
            </li>
            <li>
              <a href="/others.html">
				Others
              </a>
            </li>
            <li>
              <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Wikimedia_error_404.png/1280px-Wikimedia_error_404.png">
                Projects
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/isaac-pgao/">
                About
              </a>
            </li>
          </ul>
