<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link href="/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />

    <link rel="stylesheet" href="/media/css/highlight.css">
    <link href='/media/webfonts/ss-social.css' rel='stylesheet'>
    <link href='/media/webfonts/ss-standard.css' rel='stylesheet'>
    <link href="/media/css/screen.css" rel="stylesheet">
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>

  </head>
  <body>
    
      <!-- mathjax config similar to math.stackexchange -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true,
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    }
  });
</script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i=0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>
<script type="text/javascript"
   src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
 

    
    

    <div id="container">
      <div id="main" role="main">
        <header>
               <hgroup class="page-hgroup">
                <h1 class="page-title"><a class="page-title-link" href="{% if page.title %}{{ page.url }}{% else %}{{ site.home }}{% endif %}">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</a>
                {% if page.url == '/archive.html' %}<input class="page-search-input" type="text" placeholder="搜索（回车全文搜索）" />{% endif %}
                </h1>
                    <h2 class="page-subtitle">
                    {% if page.date %}
                    <time class="post-date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%Y 年 %m 月 %d 日 %R" }}</time>
                        <span class="post-count">本文 {{ page.content | strip_html | strip_newlines | remove: " " | size }} 字，阅读全文约需 {{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }} 分钟</span>
                    {% elsif paginator or page.url == '/tech.html' or page.url == '/life.html' %}
                    {% else %}
                        {{ page.description }}
                    {% endif %}
                    </h2>
                </hgroup>
          
        <div class="buttons">
          <a href="/" class="ss-icon" title="Go to Homepage">home</a>
          <a href="/categories" class="ss-icon" title="Category" >list</a>
          <a href="/tags" class="ss-icon" title="Tag Cloud" >tags</a>
          <a href="/guestbook" class="ss-icon" title="Guest Book" >talk</a>
          <a href="/about" class="ss-icon" title="About Me" >user</a>
          <a href="/feed" class="ss-icon" title="Subscribe by RSS" >rss</a>
        </div>
        <h1>{{ page.title }}</h1>
        </header>
        <hr>
        <article class="content">
        {{ content }}
        </article>
      </div>

    <footer>
        <p><small>Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a> | Copyright 2017 - {{site.time | date:"%Y"}} by <a href="https://isaacpg001.github.io/about/">isaacpg</a> | <span class="label label-info">{{site.time | date:"%Y-%m-%d %H:%M:%S %Z"}}</span></small></p>
    </footer>

    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12936429-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
   
  </body>
</html>

