<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link href="/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />

    <link rel="stylesheet" href="/media/css/highlight.css">
    <link href='/media/webfonts/ss-social.css' rel='stylesheet'>
    <link href='/media/webfonts/ss-standard.css' rel='stylesheet'>
    <link href="/media/css/screen.css" rel="stylesheet">
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>

    <script type="text/javascript"
       src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
</script>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
  MathJax.Hub.Config({
 jax: ["input/TeX","output/HTML-CSS"],
 displayAlign: "left"
});
</script>
  </head>
  <script type="text/javascript"
       src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
</script>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
  MathJax.Hub.Config({
 jax: ["input/TeX","output/HTML-CSS"],
 displayAlign: "left"
});
</script>
</html>


<!-- UJian Button BEGIN -->
<!--
<div class="ujian-hook"></div>
<script type="text/javascript">var ujian_config = {num:6,picSize:84,textHeight:45};</script>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=1987043"></script>
<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png"
alt="友荐云推荐" style="border:0;padding:0;margin:0;" /></a>
-->
<!-- UJian Button END -->
<!-- Blog Comments -->
<div class="media">
  {% include disqus.html %} 
</div>
